<div title="Add to Calendar" class="addthisevent">
    Add to Calendar
    <span class="start"><%= @session.start %></span>
    <span class="end"><%= @session.end %></span>
    <span class="timezone">America/Toronto</span>
    <span class="title"><%= @session.title %></span>
    <span class="date_format">DD/MM/YYYY</span>
</div>